$main-color: purple;
$font-color: #fff;

body {
  background-color: $main-color;
  color: $font-color;
}

// Make footer stick to bottom
#app-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  #app-content {
    flex: 1;
  }
}